:root {
    font-family: 'Saira Condensed', 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==============Resusable============================== */

.text-color-logo {
    color: #5abac6;
}

.text-shadow {
    text-shadow: 1px 1px 5px rgb(0,0,0,0.7);
}

.hover-white:hover,
.hover-white:active {
    color: #fff!important;
}

.text-input {
    font-size: 0.8rem;
}

/* ===================contactBar============================ */
.bg-black {
    background-color: rgba(0, 0, 0, 0.9);
}

.language {
    background-color: inherit;
    border: none;
    color: inherit;
}

.option-item {
    padding: 10px;

}

/* ========================slide header============================ */
.slide-item {
    height: 20rem;
    background-image: url(https://images.vexels.com/media/users/3/144655/raw/421f642bebdb00d01783ace161cd9639-flat-hiking-landscape-illustration.jpg);
    background-size: cover;
    background-position: center;
}

/* ===========booking-navigation=========== */




