:root {
    font-family: 'Saira Condensed', 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==============Resusable============================== */

.text-color-logo {
    color: #5abac6;
}

.text-shadow {
    text-shadow: 1px 1px 5px rgb(0,0,0,0.7);
}

.hover-white:hover,
.hover-white:active {
    color: #fff!important;
}

.text-input {
    font-size: 0.8rem;
}

.z-index-1 {
    z-index: 1;
}

.circle {
    padding: 20px 25px;
    border-radius: 50%;
}

.fit-content {
    width: fit-content;
}

.icon-circle:hover,
.icon-circle:active {
    background-color: #5abac6;
    border-color: #5abac6;
    color: #fff;
    transform: scale(1.2)
}

/* ===================contactBar============================ */
.bg-black {
    background-color: rgba(0, 0, 0, 0.9);
}

.language {
    background-color: inherit;
    border: none;
    color: inherit;
}

.option-item {
    padding: 10px;

}

/* ========================slide header============================ */
.slide-item {
    height: 20rem;
    background-image: url(https://images.vexels.com/media/users/3/144655/raw/421f642bebdb00d01783ace161cd9639-flat-hiking-landscape-illustration.jpg);
    background-size: cover;
    background-position: center;
}

/* ===========booking-navigation=========== */

/* ===============favorite rooms========================== */

.lined-header::before {
    display: block;
    content: "";
    border-top: 0.2rem solid rgba(108, 117, 125, 0.5);
    width: 100%;
    position: absolute;
    top: 50%;
}


.favorite-room-img {
    width: 100%;
    height: auto;
}

/* =====================usp section============================ */

.icon-circle {
    transition: all 0.3s;
}