:root {
    font-family: 'Saira Condensed', 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ==============Resusable============================== */

.text-color-logo {
    color: #5abac6;
}

.text-shadow {
    text-shadow: 1px 1px 5px rgb(0,0,0,0.7);
}

.hover-white:hover,
.hover-white:active {
    color: #fff!important;
}

.text-input {
    font-size: 0.8rem;
}

.z-index-1 {
    z-index: 1;
}

.circle {
    padding: 20px 25px;
    border-radius: 50%;
}

.fit-content {
    width: fit-content;
}

.icon-circle:hover,
.icon-circle:active {
    transform: scale(1.2)
}

.font-weight-400 {
    font-weight: 400;
}

.letter-spacing-05r {
    letter-spacing: 0.5rem;
}

.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-column-gap-1 {
    grid-column-gap: 1rem;
}

.grid-column-gap-2 {
    grid-column-gap: 2rem;
}

.overflow {
    overflow: auto;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
}

.height-400 {
    height: 400px;
}

.height-300 {
    height: 300px;
}

/* ===================contactBar============================ */
.bg-black {
    background-color: rgba(0, 0, 0, 0.9);
}

.language {
    background-color: inherit;
    border: none;
    color: inherit;
}

.option-item {
    padding: 10px;

}

/* ========================slide header============================ */
.slide-item {
    height: 20rem;
    background-image: url(https://images.vexels.com/media/users/3/144655/raw/421f642bebdb00d01783ace161cd9639-flat-hiking-landscape-illustration.jpg);
    background-size: cover;
    background-position: center;
}

/* ===========booking-navigation=========== */

/* ===============favorite rooms========================== */

.lined-header::before {
    display: block;
    content: "";
    border-top: 0.2rem solid rgba(108, 117, 125, 0.5);
    width: 100%;
    position: absolute;
    top: 50%;
}


.favorite-room-img {
    width: 100%;
    height: auto;
}

/* =====================usp section============================ */

.icon-circle {
    transition: all 0.3s;
}

/* =====================checkout blog===================== */

#parralax-img {
    height: 300px;
    background-image: url(http://lorempixel.com/1900/1000/);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-info-a{
    background-color: rgba(90, 185, 198, 0.5);
}

/* =====================Gallery======================= */

/* ==============Visitor - Hotel tabs====================== */

.comment-content {
    height: 8rem;
    text-align: left;
}

